<!-- <button
  id="themeToggle"
  class="relative inline-flex h-8 w-16 items-center rounded-full bg-gray-300 dark:bg-slate-700 transition-colors duration-300"
>
  <span
    id="toggleCircle"
    class="inline-block h-6 w-6 transform rounded-full bg-white shadow-md transition-transform duration-300 translate-x-1 dark:translate-x-8"
  >
  </span>
</button> -->

<!-- Theme Toggle -->
<!-- <div id="themeToggleContainer">
  Yahan theme.html ka button paste hona chahiye
  <button
    id="themeToggle"
    class="relative inline-flex h-8 w-16 items-center rounded-full bg-gray-300 dark:bg-slate-700 transition-colors duration-300"
  >
    <span
      id="toggleCircle"
      class="inline-block h-6 w-6 transform rounded-full bg-white shadow-md transition-transform duration-300 translate-x-1 dark:translate-x-8"
    ></span>
  </button>
</div> -->
